body{
  background: #36a4e2;
  color: white;
  padding: 30px;
  text-align: justify;
  text-shadow: 0.5px 0.5px #000000;
}

h1{
  color: #ff5500;
  text-align: center;

}

h2{
  color: yellow; /*#e6b800;*/
  text-align: center;
  text-decoration: underline overline;
}

h3{
  color: black;
}

p{
  -webkit-column-span: 2;
  -moz-column-span: 2;
  column-span: 2;
}

ul{

}

.info{
  list-style-type: none;
}
