body{
  background: #36a4e2;
  color: white;
  padding-top: 70px;
  padding-bottom: 10px;
  text-align: justify;
  text-shadow: 0.5px 0.5px #000000;
}

h1{
  color: yellow; /*#ff5500;*/
  text-align: center;

}

h2{
  color: yellow; /*#e6b800;*/
  text-align: center;
  text-decoration: underline overline;
}

h3{
  color: yellow;
  text-shadow: none;
}

p{
  -webkit-column-span: 2;
  -moz-column-span: 2;
  column-span: 2;
}

ul{

}

.caja-informacion{
  background-color: rgb(0,0,0,0.8);
  border-radius: 10px;
  padding: 4%;
  margin: 1%;
}


.pie-pag{
  background-color: rgb(0,0,0,0.8);
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  font-size: 11px;

  text-align: center;
  /* width: 400px; */
}

.foto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  /* image-resolution: snap; */
  /* height: 70%; */
  /* image-orientation: center; */
}

.education-logos{
  width: 80%;
}

.img-carousel{
  height: 500px;
}

.info{
  list-style-type: none;
}
