#skill{
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}

.skills > *{
  margin: 5px;
  border-radius: 3px;
  transition: width 1s;
  font-size: 24px;
  color: black;
}

.spanish {width: 100%; background-color: #e6e600;}
.english {width: 93%; background-color: #cc0000;}
.french {width: 85%; background-color: #005ce6;}
.german {width: 60%; background-color: #e6e600;}

.over{
 width: 0px;

}

.progress{
  font-size: 24px;
  height: 26px;
}
